@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

.banner {
  background: linear-gradient(#00000081, #000000b3), url(/quest-group-bnr.png);
  background-position: 50% 10%;
  background-size: cover;
  height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 0 0 8px #ffffff8e;
  color: #e7cfb1;
  overflow: hidden;
  padding: 20px;
}

.banner a {
  margin: 10px
}

.banner button {
  outline: 0;
  border: 0;
  color: #f2ece4;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  font-size: 16px;
  height: 30px;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg,rgb(59, 53, 48), rgb(72, 63, 54));
  transition: all 0.5s ease 0s;
}

.banner button:hover{
  box-shadow: rgba(211, 177, 118, 0.561) 0px 0px 20px;
  transition: all 0.1s ease 0s;
}

.banner .btn-red {
  background: linear-gradient(92.88deg,rgb(85, 26, 26), rgb(91, 34, 23));
  transition: all 0.5s ease 0s;
}

.banner div {
  display: flex;
  flex-direction: column;
}

.banner h1 {
  font-size: 40px;
  color: #e1a52c;
  margin: 0;
}

.banner h2 {
  font-weight: 300;
}

.card {
  background: linear-gradient(#ffe5c3, #ffddaf);
  padding: 24px;
  border-image: url(/wood-border-rnd.png) 30 / 19px;
  border-radius: 19px;
  transition: scale 0.1s, box-shadow 0.1s;
  color: #3b210dfa;
}

.card:hover {
  box-shadow: 0 0 10px #00000081;
  scale: 102%
}

.card .desc > p {
  padding: 0 0 0 5px !important;
  margin: 0px !important;
}

.card > div {
  text-align: left;
  align-items: center;
}

.card > div > div {
  justify-items: center;
  padding: 10px;
}

.card img {
  height: 160px;
  width: 230px;
  filter: drop-shadow(0 0 5px #3b210d5d);
}

.card h2 {
  margin: 0 0 10px 0;
  text-align: left;
}

.card p {
  padding: 0px 5px;
  margin: 0px;
}

.cd-col, .txt-col {
  display: flex;
  flex-direction: column;
}

.cd-row, .txt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lpad {
  margin-left: 10px;
}

.cardspacing > * {
  margin: 10px 0;
 }

 .container {
   background: url(/beige-bg.png);
   max-width: 100%;
   background-size: cover;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .container h1 {
   font-weight: 400;
 }

 .container p {
   line-height: 2;
   font-size: 16px;
 }

 .rsis-container {
   border-radius: 5px !important;
   overflow: hidden;
 }

 section {
   max-width: 100%;
   padding: 15px 70px;
   text-align: center;
 }

 section > div {
   display: flex;
   flex-direction: row;
   align-items: center;
 }

 section > div > div {
   display: flex;
   flex-direction: column;
 }

 section img {
   height: 300px;
   width: 400px;
   padding: 20px;
 }

 .slideshow {
   padding: 20px;
 }

 .footer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #0A0707;
  overflow: hidden;
  max-width: 100%;
  align-items: center;
  border-image: url(/wood-border.png) 30 fill / 19px 0 0 0;
  border-image-repeat: repeat;
  color: #BE8C4C;
  padding: 20px;
}

.footer a {
  margin: 5px 40px;
}

.footer > div {
  padding: 10px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #e1a52cd3;
}

.footer > img {
  padding-top: 20px;
}

.footer svg:hover, .tavern-table:hover {
  filter: drop-shadow(0 0 8px #f5e3cc93);
}

.tavern-table {
  width: 40px;
  height: 40px;
  max-width: none;
}

.topnav {
  position: sticky;
  display: flex;
  z-index: 99;
  background-color: #0A0707;
  overflow: hidden;
  width: 100%;
  align-items: center;
  border-image: url(/wood-border.png) 30 fill / 0 0 19px 0;
  border-image-repeat: repeat;
}

.topnav > a {
  padding: 14px 20px;
}

.topnav > a > img:hover {
  box-shadow: 0px 0px 10px #f6ba6c5e;
}

.topnav > .nav-text > a {
  float: left;
  color: #BE8C4C;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 24px;
}

.topnav > .nav-text > a:hover {
  color: #f1b362;
  text-shadow: 0px 0px 10px #f4ca93;
}

.trs-icon {
  height: 70px;
  width: 70px;
}

@media (max-width: 480px) {
  .banner button {
    padding: 5px 15px;
    height: 40px;
  }

  .banner h1, .banner h1 {
    font-size: 30px;
  }

  .container p {
    font-size: 12px;
  }

  section img {
    height: 200px;
    width: 280px;
    padding: 0px;
  }

  .slideshow {
    padding: 0px;
    padding-top: 20px;
  }

  .topnav > .nav-text > a {
    padding: 5px 10px;
    font-size: 14px;
  }

  .trs-icon {
    height: 50px;
    width: 50px;
  }

  .footer a {
    margin: 5px 25px;
  }

  .footer > div {
    font-size: 35px;
  }

  .tavern-table {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 840px) {
  .container {
    background-position: 65% 50%;
  }

  section {
    padding: 15px;
  }

  section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > div > div {
    padding: 20px
  }

  .card {
    padding: 30px;
  }

  .card h2 {
    text-align: center;
  }

  .cd-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lpad {
    margin-left: 0px;
  }

  .txt-row {
    justify-content: center;
  }
}

@media (min-width: 480px) and (max-width: 720px) {
  .topnav > .nav-text > a {
    padding: 5px 20px;
    font-size: 20px;
  }
}
