a {
  text-decoration: none;
}

body {
  margin: 0;
  font-weight: 300;
  text-wrap: pretty;
}

html {
  scroll-behavior: smooth;
}

section {
  max-width: 100%;
  padding: 15px 70px;
}

.trs-icon {
  height: 70px;
  width: 70px;
}

@media (max-width: 480px) {
  .trs-icon {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 840px) {
  section {
    padding: 15px;
  }
}
